p{
	color:red;
	/* color:rgb(255,0,0);*/
	/* color:#FF0000;*/
	font-family:sans-serif;
	background-color:green;
}

em { background-color:yellow; }

blockquote {
	color:rgb(34,56,120);
}

q{ 
	color:#0000FF;
}
