/* soru.css */
ul#menu {
		width:10em;
		padding:1px;
		border:1px solid black;
		background-color:#FFFFFF;
}

ul#menu li{
		list-style:none;
		margin:0.1em;
		text-align:center;
}

ul#menu a{
		display:inline;  	/* satýriçi */
		width:5em;  		/*satýriçi'nde width height iþe yaramaz.*/
		height:1em;
		padding:0.2em;
		text-decoration:none;
		border:1px solid black;
		border-left-color:white;
		border-top-color:white;
		color:#0066FF;
		background-color:#CCFFFF;
}
/* Burada ':' karakteri sözde sýnýf tanýmlamasý için kullanýlmýþtýr.
Fare imleci ilgili baðlantýnýn üzerine gelirse kod aktif olmaktadýr.
*/
ul#menu a:hover{
		border-color:white;
		border-left-color:black;
		border-top-color:black;
		color:#FFFFFF;
		background-color:#99CCFF;
}